:root {
    --background-color-and-button-text: #222;
    --background-button: #fff;
    --invert: 100%;
}

body {
    background-color: var(--background-color-and-button-text);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    margin: 35px auto;
    color: #96a820ff;
}

canvas {
    filter: invert(var(--invert));
}

.changeTheme {
    cursor: pointer;
    width: 128px;
    height: 32px;
    background: var(--background-button);
    color: var(--background-color-and-button-text);
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
